<div class="col-md-4 mt-5" ng-repeat="x in myData">
    <div class="card" style="border-radius: 10px;">
        <img src="{{x.imgUrl}}" class="card-img-top w-100 zoom">
        <div class="card-body">
            <h2 class="card-title"><b>{{x.title}}</b></h2>
            <div class="d-flex justify-content-between">
                <p class="card-text mr-4 text-success">{{x.price}}</p>
            </div>
            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                </div>
            <div class="button-pruduct-card" style="text-align: center;">
                <button class="button-card">
                    <a href="#!details" class="card-link" data-toggle="modal" data-target="#modalid" ng-click="details(x.id)">Show More</a>
                </button>
            </div>
        </div>
    </div> 
</div>





